body {
    background-color: antiquewhite;
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.pre-game-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pre-game-setup div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.pre-game-setup > button {
    margin-top: 2rem;
}

.hidden {
    display: none;
}